body{
    background-color: #eee;
    position: relative;
    padding-top: 80px;
    font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", serif;
}
.navbar .navbar-default{
}

.navbar .navbar-header {
    margin: 0 50px;
    padding-top: 10px;
}

.navbar .navbar-brand {
    font-family: times;
    font-size: 36px;
}

.navbar .navbar-collapse {
    font-size: 16px;
    font-family: Monaco,  "Microsoft YaHei", Palatino, serif;
    color: #49505b;
    padding: 10px;
}

#stdphoto{
    margin-right: 20px;
    width: 100px;
    height: 150px;
}
#pubphoto{
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

#res-panel{
    margin-bottom: 80px;
}
#footer{
    margin-top: 10px;
}

